<footer>
    Pour plus de blague, visitez :
    <div>
         <a href="https://www.youtube.com/watch?v=hn5gEo_BBOY&list=PL89A711C53A33F2E4&index=1" target="_blank" rel="noopener noreferrer">Blagues.corp</a>
    </div>    
   
</footer>
